<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container" id="container-perguntas">
        <div class="card">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvar-pergunta">
                    <label>Título</label>
                    <input type="text" placeholder="Título da pergunta" class="form-control" name="titulo">
                    <br><label>Descrição</label>
                    <textarea class="form-control" placeholder="Descreva sua pergunta" name="descricao"></textarea>
                    <br><button class="btn btn-primary">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('partials/scriptsbootstrap.ejs') %>
