<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    
    <div class="container">
        <hr>
        <h1>Perguntas</h1>
        <a href="/criar-pergunta" class="btn btn-primary">Perguntar</a>
        <hr>
        <% perguntas.forEach((pergunta) => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <h3><%= pergunta.titulo %></h3>
                </div>
            
                <div class="card-footer">
                    <a  href="/pergunta/<%= pergunta.id %>"><button class="btn btn-primary">Responder</button></a>
                </div>
            </div>
        <% }) %>
    </div>
</body>
<%- include('partials/scriptsbootstrap.ejs') %>
