<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1>
        <p><%= pergunta.descricao %></p>
        <hr>
        <form action="/responder" method="POST">
            <label for="">Resposta</label>
            <textarea name="corpo" class="form-control" placeholder="Informe sua resposta"></textarea><br>
            <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
            <button class="btn btn-primary">Responder</button>
        </form>
        <hr>
        <h3>Respostas</h3>
        <hr>
        <% respostas.forEach((resposta) => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <p><%= resposta.corpo %></p>
                </div>
            </div>
        <% }) %>
    </div>
</body>
<%- include('partials/scriptsbootstrap.ejs') %>